/* body {
  align-items: center;
  overflow-x: hidden;
}
.invoice-header {
  background-color: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: -48px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.invoice-header h1 {
  margin: 0;
}
.company-details {
  margin: 10px 0;
}
.invoice-details {
  margin: 20px 0;
}
.invoice-details h5 {
  margin-bottom: 10px;
  font-weight: bold;
}
.invoice-summary {
  margin: 20px 0;
}
.invoice-summary h5 {
  font-weight: bold;
}
.table th, .table td {
  vertical-align: middle;
  margin-left: -50px;
}

.total-section {
  text-align: right;
}
.total-section .total-amount {
  font-size: 1.5em;
  font-weight: bold;
}
.payment-method {
  margin: 20px 0;
}
.payment-method h5 {
  font-weight: bold;
}
.footer {
  text-align: center;
  margin-top: 50px;
}
.footer p {
  margin: 0;
}
.footer .signature {
  margin-top: 20px;
}
.cd{
  font-size: 25px;
  padding-bottom: 20px;
  color: gray;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.eml{
  margin-left: 300px;
  margin-top: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 17px;

}
.gdr{
  margin-left: 300px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 17px;
  margin-bottom: 50px;
}
.ads{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 17px;
  margin-top: -78px;
  margin-left: 20px;
}
.ctr{
  margin-left: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 17px;

}
.pur{
  margin-left: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 17px;
}
.ph{
  margin-left: 300px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 17px;
  margin-top: -80px;
}
.high{
  padding-bottom: -30px;
}
.tot{
  margin-right:3px;
}
.pqpt{
  color: white;
  background-color: #000;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 17px;
}
.tdtdtd{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 17px;
}
.lastsection{
  margin-left: 355px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
}
.tsg{
  margin-right: 20px;
}
.dis{
  margin-right: 21px;
}
.footer{
  margin-bottom:  20px;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media only screen and (max-width:1024px)and (min-width:769px){
  .invoice-header h1 {
      font-size: 1.5rem;
  }

  .invoice-summary table {
      font-size: 0.875rem;
  }

  .total-section {
      font-size: 0.875rem;
  }
  .ads{
    margin-top: -110px;
  }
  .eml{
    margin-top: -10px;
  }
  .pur{
    margin-top: -5px;
  }
  .gdr{
    margin-top: -15px;
    margin-left: 20px;
  }
  .pqpt{
    margin-top: -70px;
  }
  .lastsection{
    margin-left: 290px;
  }
  .tsg{
    margin-right: 17px;
  }
  .dis{
    margin-right: 17px;
  }
  .table{
    margin-top: 10px;
  }
}  */














body{
  /* width:1000px;
 justify-content: center;
 align-items: center;
 display: flex;
 margin-left: -200px; */
 overflow-x: hidden;
 padding: 0;
 margin: 0;
 background-color: #fff !important;
 /* font-family: "Gupter", serif !important; */
 font-family: "Gupter", serif !important;
 font-weight: 400 !important;
 font-style: normal !important;
 /* padding: 60px; */
}

.invoice-2{
  font-family: "Merienda", cursive !important;
  font-optical-sizing: auto !important;
  font-weight: weight !important;
  font-style: normal !important;
  margin-top: -30px;
}

.container{
 max-width: 900px !important;
 margin-top: auto;
}
.sub{
  /* margin-left: 30px; */
 
}
.gen{
  margin-top: -20px;
}
.thank{
  text-align: center;
  /* margin-top: 10px; */
  /* margin-bottom:  20px; */
 font-size: 30px;
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  font-family: "Merienda", cursive !important;
  font-optical-sizing: auto !important;
  font-weight: weight !important;
  font-style: normal !important;
}
.item{
  margin-right: -40px;
}
.tb{
 /* padding-right: 60px; */
 /* padding-right: 30px; */
}

.pr{
 margin-left: 40px;
}
.last{
  /* font-size: 20px; */
}
.qn{
  margin-left: -20px;
}
.lastsection{
  margin-left: 500px;
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  font-size: 18px;
}
.tsg{
  margin-right: 20px;
}
.dis{
  margin-right: 21px;
}
.sl{
  margin-left: 120px;
}
.ts{
  margin-left: 130px;
}
.count{
  margin-left: 90px;
}
.tl{
  margin-left: 100px;
}
.team{
  font-weight: 500;
  font-size: 17px;
}
.last{
  color: #2672f9;
  font-weight: bold;
}
.last1{
  font-weight: bold;
  /* padding-left: 20px; */
}
.invoice-bottom{
  margin-top: 40px;
}
@media (max-width: 992px) {
  .invoice-2 {
      padding: 30px 0;
  }
}
 

.invoice-2 {
  padding: 30px 0;
  background: #fff6f6;
}
.invoice-content {
  font-family: 'Poppins', sans-serif;
  color: #535353;
  font-size: 14px;
}
*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
div {
  display: block;
  unicode-bidi: isolate;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  width: 100%;
  padding-right: var(--bs-gutter-x, .75rem);
  padding-left: var(--bs-gutter-x, .75rem);
  margin-right: auto;
  margin-left: auto;
}
*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
div {
  display: block;
  unicode-bidi: isolate;
}
.invoice-content {
  font-family: 'Poppins', sans-serif;
  color: #535353;
  font-size: 14px;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y)* -1);
  margin-right: calc(var(--bs-gutter-x)* -.5);
  margin-left: calc(var(--bs-gutter-x)* -.5);
}
*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
div {
  display: block;
  unicode-bidi: isolate;
}
.invoice-content {
  font-family: 'Poppins', sans-serif;
  color: #535353;
  font-size: 14px;
}
.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x)* .5);
  padding-left: calc(var(--bs-gutter-x)* .5);
  margin-top: var(--bs-gutter-y);
}
*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
div {
  display: block;
  unicode-bidi: isolate;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y)* -1);
  margin-right: calc(var(--bs-gutter-x)* -.5);
  margin-left: calc(var(--bs-gutter-x)* -.5);
}

.invoice-content {
  font-family: 'Poppins', sans-serif;
  color: #535353;
  font-size: 14px;
}
*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
div {
  display: block;
  unicode-bidi: isolate;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y)* -1);
  margin-right: calc(var(--bs-gutter-x)* -.5);
  margin-left: calc(var(--bs-gutter-x)* -.5);
}
.invoice-content {
  font-family: 'Poppins', sans-serif;
  color: #535353;
  font-size: 14px;
}
.invoice-2 .invoice-info {
  background: #fff;
  position: relative;
}
*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
div {
  display: block;
  unicode-bidi: isolate;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y)* -1);
  margin-right: calc(var(--bs-gutter-x)* -.5);
  margin-left: calc(var(--bs-gutter-x)* -.5);
}
.invoice-content {
  font-family: 'Poppins', sans-serif;
  color: #535353;
  font-size: 14px;
}@media (max-width: 768px) {
  .invoice-2 .invoice-headar {
      padding: 30px;
      background: #f3f3f3;
  }
}
*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
div {
  display: block;
  unicode-bidi: isolate;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y)* -1);
  margin-right: calc(var(--bs-gutter-x)* -.5);
  margin-left: calc(var(--bs-gutter-x)* -.5);
}

.invoice-content {
  font-family: 'Poppins', sans-serif;
  color: #535353;
  font-size: 14px;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y)* -1);
  margin-right: calc(var(--bs-gutter-x)* -.5);
  margin-left: calc(var(--bs-gutter-x)* -.5);
}
*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
div {
  display: block;
  unicode-bidi: isolate;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y)* -1);
  margin-right: calc(var(--bs-gutter-x)* -.5);
  margin-left: calc(var(--bs-gutter-x)* -.5);
}

.invoice-content {
  font-family: 'Poppins', sans-serif;
  color: #535353;
  font-size: 14px;
}
.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x)* .5);
  padding-left: calc(var(--bs-gutter-x)* .5);
  margin-top: var(--bs-gutter-y);
}
*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
div {
  display: block;
  unicode-bidi: isolate;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y)* -1);
  margin-right: calc(var(--bs-gutter-x)* -.5);
  margin-left: calc(var(--bs-gutter-x)* -.5);
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y)* -1);
  margin-right: calc(var(--bs-gutter-x)* -.5);
  margin-left: calc(var(--bs-gutter-x)* -.5);
}
.invoice-content {
  font-family: 'Poppins', sans-serif;
  color: #535353;
  font-size: 14px;
}
.invoice-2 .invoice-logo {
  clip-path: polygon(0 0, 100% 0, 100% 0%, 85% 100%, 0% 100%);
  width: 340px;
}
*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
div {
  display: block;
  unicode-bidi: isolate;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y)* -1);
  margin-right: calc(var(--bs-gutter-x)* -.5);
  margin-left: calc(var(--bs-gutter-x)* -.5);
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y)* -1);
  margin-right: calc(var(--bs-gutter-x)* -.5);
  margin-left: calc(var(--bs-gutter-x)* -.5);
}
.invoice-content {
  font-family: 'Poppins', sans-serif;
  color: #535353;
  font-size: 14px;
}
@media (max-width: 768px) {
  .invoice-2 .invoice-logo .logo {
      padding: 0;
      height: auto;
      margin-bottom: 15px;
      background: transparent;
  }
}
.invoice-2 .invoice-logo .logo {
  width: 290px;
  padding: 50px;
  clip-path: polygon(0 0, 100% 0, 100% 0%, 85% 100%, 0% 100%);
  height: 125px;
  z-index: 999;
  background-image: linear-gradient(to bottom, #0095ff, #4a50f3);
}

*, ::after, ::before {
  box-sizing: border-box;
}
div {
  display: block;
  unicode-bidi: isolate;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y)* -1);
  margin-right: calc(var(--bs-gutter-x)* -.5);
  margin-left: calc(var(--bs-gutter-x)* -.5);
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y)* -1);
  margin-right: calc(var(--bs-gutter-x)* -.5);
  margin-left: calc(var(--bs-gutter-x)* -.5);
}
.invoice-content {
  font-family: 'Poppins', sans-serif;
  color: #535353;
  font-size: 14px;
}

.invoice-2 .invoice-logo img {
    height: 25px;
}
img, svg {
    vertical-align: middle;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
@media (max-width: 768px) {
  .invoice-2 .invoice-logo .logo {
      padding: 0;
      height: auto;
      margin-bottom: 15px;
      background: transparent;
  }
}
.invoice-2 .invoice-logo .logo {
  width: 290px;
  padding: 50px;
  clip-path: polygon(0 0, 100% 0, 100% 0%, 85% 100%, 0% 100%);
  height: 125px;
  z-index: 999;
  background-image: linear-gradient(to bottom, #0095ff, #4a50f3);
}
*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
div {
  display: block;
  unicode-bidi: isolate;
}
.invoice-2 .invoice-logo img {
  height: 25px;
}
img, svg {
  vertical-align: middle;
}
*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
img {
  overflow-clip-margin: content-box;
  overflow: clip;
}
.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x)* .5);
  padding-left: calc(var(--bs-gutter-x)* .5);
  margin-top: var(--bs-gutter-y);
}
*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
div {
  display: block;
  unicode-bidi: isolate;
}
*, ::after, ::before {
  box-sizing: border-box;
}

user agent stylesheet
div {
  display: block;
  unicode-bidi: isolate;
}
@media (max-width: 768px) {
  .invoice-2 .invoice-id .info {
      margin: 0 auto 0 0;
      padding: 0;
  }
}
@media (max-width: 768px) {
  .invoice-2 .invoice-id .info {
      margin: 0 auto 0 0;
      padding: 0;
  }
}
@media (max-width: 768px) {
  .invoice-2 .invoice-id .info {
      margin: 0 auto 0 0;
      padding: 0;
  }
}
@media (max-width: 768px) {
  .invoice-2 .invoice-id .info {
      margin: 0 auto 0 0;
      padding: 0;
  }
}
@media (max-width: 768px) {
  .invoice-2 .invoice-id .info {
      margin: 0 auto 0 0;
      padding: 35px 0 0;
  }
}
.invoice-2 .invoice-id .info {
  max-width: 200px;
  margin: 0 50px 0 auto;
  padding: 35px 0 0;
}
*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
div {
  display: block;
  unicode-bidi: isolate;
}
@media (max-width: 580px) {
  .invoice-2 .inv-header-1 {
      font-size: 22px;
  }
}
.invoice-2 .inv-header-1 {
  font-weight: 600;
  color: #2672f9;
  font-size: 30px;
}
.invoice-content .inv-header-1 {
  text-transform: uppercase;
  /* font-weight: 700; */
  /* font-size: 28px; */
}
.invoice-content h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Poppins', sans-serif;
  color: #535353;
}

.h1, h1 {
  font-size: calc(1.375rem + 1.5vw);
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}
*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}
.invoice-2 p {
  font-size: 14px;
}
.mb-1 {
  margin-bottom: .25rem !important;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
*, ::after, ::before {
  box-sizing: border-box;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
*, ::after, ::before {
  box-sizing: border-box;
}

.invoice-2 p {
  font-size: 14px;
}
.invoice-2 p {
  font-size: 14px;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-0 {
  margin-bottom: 0 !important;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
@media (max-width: 768px) {
  .invoice-2 .invoice-top {
      padding: 30px 30px 0;
  }
}
.invoice-2 .invoice-top {
  padding: 40px 50px 10px;
  font-size: 15px;
}
*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
div {
  display: block;
  unicode-bidi: isolate;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y)* -1);
  margin-right: calc(var(--bs-gutter-x)* -.5);
  margin-left: calc(var(--bs-gutter-x)* -.5);
}
*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
div {
  display: block;
  unicode-bidi: isolate;
}
.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x)* .5);
  padding-left: calc(var(--bs-gutter-x)* .5);
  margin-top: var(--bs-gutter-y);
}

*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
div {
  display: block;
  unicode-bidi: isolate;
}
.invoice-2 .mb-30 {
  margin-bottom: 30px;
}
.mb-30 {
  margin-bottom: 30px;
}
*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
div {
  display: block;
  unicode-bidi: isolate;
}

h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}.invoice-2 .name {
  font-size: 18px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #262525;
  font-weight: 500;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}
.invoice-content .invo-addr-1 {
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 23px;
}
.invoice-2 p {
  font-size: 14px;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
*, ::after, ::before {
  box-sizing: border-box;
}

user agent stylesheet
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
*, ::after, ::before {
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .invoice-2 .invoice-top {
      padding: 30px 30px 0;
  }
}

.invoice-2 .invoice-top {
  padding: 40px 50px 10px;
  font-size: 15px;
}
*, ::after, ::before {
  box-sizing: border-box;
}
div {
  display: block;
  unicode-bidi: isolate;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y)* -1);
  margin-right: calc(var(--bs-gutter-x)* -.5);
  margin-left: calc(var(--bs-gutter-x)* -.5);
}

*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
div {
  display: block;
  unicode-bidi: isolate;
}
.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x)* .5);
  padding-left: calc(var(--bs-gutter-x)* .5);
  margin-top: var(--bs-gutter-y);
}

*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
div {
  display: block;
  unicode-bidi: isolate;
}
.invoice-2 .mb-30 {
  margin-bottom: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}
*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
div {
  display: block;
  unicode-bidi: isolate;
}

*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}
.invoice-2 .name {
  font-size: 18px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #262525;
  font-weight: 500;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}
.invoice-content .invo-addr-1 {
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 23px;
}
.invoice-2 p {
  font-size: 14px;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
*, ::after, ::before {
  box-sizing: border-box;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
*, ::after, ::before {
  box-sizing: border-box;
}
.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x)* .5);
  padding-left: calc(var(--bs-gutter-x)* .5);
  margin-top: var(--bs-gutter-y);
}

*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
div {
  display: block;
  unicode-bidi: isolate;
}
.invoice-2 .mb-30 {
  margin-bottom: 30px;
}
.mb-30 {
  margin-bottom: 30px;
}
*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
div {
  display: block;
  unicode-bidi: isolate;
}
@media (max-width: 768px) {
  .invoice-2 .invoice-number-inner {
      margin: 0 auto 0 0;
  }
}
.invoice-2 .invoice-number-inner {
  max-width: 200px;
  margin-left: auto;
}
*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
div {
  display: block;
  unicode-bidi: isolate;
}

*, ::after, ::before {
  box-sizing: border-box;
}

user agent stylesheet
h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}
.invoice-2 .name {
  font-size: 18px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #262525;
  font-weight: 500;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}
.invoice-content .invo-addr-1 {
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 23px;
}
.invoice-2 p {
  font-size: 14px;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
*, ::after, ::before {
  box-sizing: border-box;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
@media (max-width: 768px) {
  .invoice-2 .invoice-center {
      padding: 0 30px 30px;
  }
}
.invoice-2 .invoice-center {
  padding: 0 50px 40px;
}
*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
div {
  display: block;
  unicode-bidi: isolate;
}
.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
div {
  display: block;
  unicode-bidi: isolate;
}
.mb-0 {
  margin-bottom: 0;
}

.table {
  color: #535353;
}
.mb-0 {
  margin-bottom: 0 !important;
}
table {
  caption-side: bottom;
  border-collapse: collapse;
}

*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  unicode-bidi: isolate;
  border-spacing: 2px;
  border-color: gray;
}
.table {
  --bs-table-bg: transparent;
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: #212529;
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-active-color: #212529;
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: #212529;
  --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  vertical-align: top;
  border-color: #dee2e6;
}
.invoice-2 .bg-active {
  background: #f3f3f3;
  color: #262525 !important;
}
.table>thead {
  vertical-align: bottom;
}
.invoice-3 .order-summary tbody, td, tfoot, th, thead, tr {
  border: solid 1px #f3f2f2;
}
.invoice-2 .order-summary tbody, td, tfoot, th, thead, tr {
  border: none;
}
tbody, td, tfoot, th, thead, tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}
*, ::after, ::before {
  box-sizing: border-box;
}
thead {
  display: table-header-group;
  vertical-align: middle;
  unicode-bidi: isolate;
  border-color: inherit;
}
.invoice-2 .invoice-info-buttom .table .invoice-2 .invoice-info-buttom .table tr, .table tr {
  border: 1px solid #e9ecef;
}
.invoice-1 .invoice-info-buttom .table .invoice-1 .invoice-info-buttom .table tr, .table tr {
  border: 1px solid #e9ecef;
}
.invoice-3 .order-summary tbody, td, tfoot, th, thead, tr {
  border: solid 1px #f3f2f2;
}

.invoice-2 .order-summary tbody, td, tfoot, th, thead, tr {
  border: none;
}
tbody, td, tfoot, th, thead, tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}
*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
tr {
  display: table-row;
  vertical-align: inherit;
  unicode-bidi: isolate;
  border-color: inherit;
}
.invoice-content .invoice-table th:first-child, .invoice-content .invoice-table td:first-child {
  text-align: left;
}

.table>:not(:last-child)>:last-child>* {
  border-bottom-color: currentColor;
}
@media (max-width: 768px) {
  .invoice-2 .table > :not(caption) > * > * {
      padding: 15px 10px;
  }
}
.invoice-2 .table td, .invoice-2 .table th {
  vertical-align: middle;
  border: none !important;
}
.invoice-2 .table > :not(caption) > * > * {
  padding: 13px 30px;
}
.invoice-2 table th {
  font-weight: 500;
  border: none !important;
}

.table > :not(caption) > * > * {
  background-color: var(--bs-table-bg);
  border-bottom-width: 0;
}
.table>:not(caption)>*>* {
  padding: .5rem .5rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
*, ::after, ::before {
  box-sizing: border-box;
}

user agent stylesheet
th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: -internal-center;
  unicode-bidi: isolate;
}
.invoice-2 .table .pl0 {
  padding-left: 0;
}
.table>:not(:last-child)>:last-child>* {
  border-bottom-color: currentColor;
}
@media (max-width: 768px) {
  .invoice-2 .table > :not(caption) > * > * {
      padding: 15px 10px;
  }
}
.invoice-2 .table td, .invoice-2 .table th {
  vertical-align: middle;
  border: none !important;
}
.invoice-2 .table > :not(caption) > * > * {
  padding: 13px 30px;
}
.invoice-2 table th {
  font-weight: 500;
  border: none !important;
}
.table > :not(caption) > * > * {
  background-color: var(--bs-table-bg);
  border-bottom-width: 0;
}
.table>:not(caption)>*>* {
  padding: .5rem .5rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
.text-start {
  text-align: left !important;
}
table th {
  font-weight: 400;
}
*, ::after, ::before {
  box-sizing: border-box;
}

user agent stylesheet
th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: -internal-center;
  unicode-bidi: isolate;
}
.invoice-2 .table .pl0 {
  padding-left: 0;
}
.table>tbody {
  vertical-align: inherit;
}

tbody, td, tfoot, th, thead, tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}
*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
tbody {
  display: table-row-group;
  vertical-align: middle;
  unicode-bidi: isolate;
  border-color: inherit;
}
.invoice-2 .table-striped > tbody > tr:nth-of-type(odd) {
  --bs-table-accent-bg: rgb(255 255 255 / 5%);
  color: var(--bs-table-striped-color);
}
.table-striped>tbody>tr:nth-of-type(odd) {
  --bs-table-accent-bg: var(--bs-table-striped-bg);
  color: var(--bs-table-striped-color);
}
.invoice-content .item-desc-1 {
  text-align: left;
}

*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
div {
  display: block;
  unicode-bidi: isolate;
}

.invoice-2 .item-desc-1 span {
    font-size: 14px;
    font-weight: 500;
}
.invoice-content .item-desc-1 span {
    display: block;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.invoice-2 .table td.pl0 {
  padding-left: 0;
}

.invoice-2 .table .pl0 {
  padding-left: 0;
}
@media (max-width: 768px) {
  .invoice-2 .table > :not(caption) > * > * {
      padding: 15px 10px;
  }
}.invoice-2 .table td {
  font-size: 15px;
  color: #555;
}

.invoice-2 .table td, .invoice-2 .table th {
  vertical-align: middle;
  border: none !important;
}
.invoice-2 .table > :not(caption) > * > * {
  padding: 13px 30px;
}
.table > :not(caption) > * > * {
  background-color: var(--bs-table-bg);
  border-bottom-width: 0;
}

.table>:not(caption)>*>* {
  padding: .5rem .5rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
.invoice-2 .table-striped > tbody > tr:nth-of-type(odd) {
  --bs-table-accent-bg: rgb(255 255 255 / 5%);
  color: var(--bs-table-striped-color);
}

.table-striped>tbody>tr:nth-of-type(odd) {
  --bs-table-accent-bg: var(--bs-table-striped-bg);
  color: var(--bs-table-striped-color);
}
.invoice-2 .table-striped > tbody > tr:nth-of-type(odd) {
  --bs-table-accent-bg: rgb(255 255 255 / 5%);
  color: var(--bs-table-striped-color);
}
.table-striped>tbody>tr:nth-of-type(odd) {
  --bs-table-accent-bg: var(--bs-table-striped-bg);
  color: var(--bs-table-striped-color);
}

.invoice-content .invoice-table th:first-child, .invoice-content .invoice-table td:first-child {
  text-align: left;
}
@media (max-width: 768px) {
  .invoice-2 .table > :not(caption) > * > * {
      padding: 15px 10px;
  }
}
.invoice-2 .table td {
  font-size: 15px;
  color: #555;
}
.invoice-2 .table td, .invoice-2 .table th {
  vertical-align: middle;
  border: none !important;
}
.invoice-2 .table > :not(caption) > * > * {
  padding: 13px 30px;
}
.table > :not(caption) > * > * {
  background-color: var(--bs-table-bg);
  border-bottom-width: 0;
}
.table>:not(caption)>*>* {
  padding: .5rem .5rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
@media (max-width: 768px) {
  .invoice-2 .invoice-bottom {
      padding: 0 30px 0;
  }
}
.invoice-2 .invoice-bottom {
  padding: 0 50px 10px;
}
*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
div {
  display: block;
  unicode-bidi: isolate;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y)* -1);
  margin-right: calc(var(--bs-gutter-x)* -.5);
  margin-left: calc(var(--bs-gutter-x)* -.5);
}

*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
div {
  display: block;
  unicode-bidi: isolate;
}
.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x)* .5);
  padding-left: calc(var(--bs-gutter-x)* .5);
  margin-top: var(--bs-gutter-y);
}
*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
div {
  display: block;
  unicode-bidi: isolate;
}
.invoice-2 .mb-30 {
  margin-bottom: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}
*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
div {
  display: block;
  unicode-bidi: isolate;
}
.invoice-2 .invoice-bottom h3 {
  margin-bottom: 7px;
}

.invoice-2 .inv-title-1 {
  color: #2672f9;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 16px;
}

.invoice-2 .payment-method ul {
  list-style: none;
}

.invoice-2 .payment-method-list-1 {
  padding: 0;
}
.invoice-content .text-14 {
  font-size: 14px;
}
dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
ol, ul {
  padding-left: 2rem;
}

*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}
*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
li {
  display: list-item;
  text-align: -webkit-match-parent;
  unicode-bidi: isolate;
}
.invoice-2 .payment-method ul li strong {
  font-weight: 500;
}

b, strong {
  font-weight: bolder;
}
*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
strong {
  font-weight: bold;
}
.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x)* .5);
  padding-left: calc(var(--bs-gutter-x)* .5);
  margin-top: var(--bs-gutter-y);
}

*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
div {
  display: block;
  unicode-bidi: isolate;
}
.invoice-2 .mb-30 {
  margin-bottom: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}
*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
div {
  display: block;
  unicode-bidi: isolate;
}
.invoice-2 .invoice-bottom h3 {
  margin-bottom: 7px;
}

.invoice-2 p {
  font-size: 14px;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
@media (max-width: 768px) {
  .invoice-2 .invoice-contact {
      padding: 30px 30px 20px;
  }
}
@media (max-width: 768px) {
  .invoice-2 .invoice-contact {
      background: #f3f3f3;
  }
}
.invoice-2 .invoice-contact {
  background-image: linear-gradient(to bottom, #0095ff, #4a50f3);
  padding: 30px 50px 20px;
}
*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
div {
  display: block;
  unicode-bidi: isolate;
}
.g-0, .gy-0 {
  --bs-gutter-y: 0;
}

.g-0, .gx-0 {
  --bs-gutter-x: 0;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y)* -1);
  margin-right: calc(var(--bs-gutter-x)* -.5);
  margin-left: calc(var(--bs-gutter-x)* -.5);
}
*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
div {
  display: block;
  unicode-bidi: isolate;
}
.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x)* .5);
  padding-left: calc(var(--bs-gutter-x)* .5);
  margin-top: var(--bs-gutter-y);
}
*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
div {
  display: block;
  unicode-bidi: isolate;
}
*, ::after, ::before {
  box-sizing: border-box;
}

user agent stylesheet
div {
  display: block;
  unicode-bidi: isolate;
}
@media (max-width: 768px) {
  .invoice-2 .contact-info a {
      color: #535353;
  }
}
@media (max-width: 992px) {
  .invoice-2 .contact-info a {
      margin: 0 20px 10px 0;
      line-height: 20px;
  }
}
.invoice-2 .contact-info a {
  margin: 0 30px 10px 0;
  color: #fff;
  font-size: 14px;
  float: left;
  line-height: 50px;
}
.invoice-content a {
  text-decoration: none;
}
.d-flex {
  display: flex !important;
}
a {
  color: #0d6efd;
  text-decoration: underline;
}
*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
@media (max-width: 768px) {
  .invoice-2 .contact-info a i {
      color: #535353;
  }
}

@media (max-width: 992px) {
  .invoice-2 .contact-info a i {
      width: auto;
      height: 20px;
      background: transparent;
      text-align: left;
      font-size: 20px;
      line-height: 20px;
      color: #fff;
      margin-right: 5px;
  }
}
.invoice-2 .contact-info a i {
  width: 50px;
  height: 50px;
  background: #ffffff;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
  margin-right: 10px;
  color: #2672f9;
  border-radius: 60px;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px / 1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*, ::after, ::before {
  box-sizing: border-box;
}

user agent stylesheet
i {
  font-style: italic;
}
.fa-phone:before {
  content: "\f095";
}
*, ::after, ::before {
  box-sizing: border-box;
}
.invoice-2 .contact-info .mr-0 {
  margin-right: 0;
}
.clearfix::after {
  display: block;
  clear: both;
  content: "";
}
*, ::after, ::before {
  box-sizing: border-box;
}
.invoice-content .invoice-btn-section {
  text-align: center;
  margin-top: 27px;
}

*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
div {
  display: block;
  unicode-bidi: isolate;
}
.invoice-content a {
  text-decoration: none;
}

@media (max-width: 768px) {
  .btn-lg {
      font-size: 13px;
      height: 40px;
      padding: 0 20px;
      line-height: 40px;
      border-radius: 3px;
  }
}
.btn-print {
  background: #3a3939;
}
.btn-print {
  background-image: linear-gradient(to bottom, #54544d, #1a1918);
}
.btn-lg {
  font-size: 14px;
  height: 50px;
  padding: 0 30px;
  line-height: 50px;
  border-radius: 3px;
  color: #ffffff;
  border: none;
  margin: 0 3px 3px;
  display: inline-block;
  vertical-align: middle;
  -webkit-appearance: none;
  text-transform: capitalize;
  transition: all 0.3s linear;
  z-index: 1;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.btn-group-lg>.btn, .btn-lg {
  padding: .5rem 1rem;
  font-size: 1.25rem;
  border-radius: .3rem;
}
.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
a {
  color: #0d6efd;
  text-decoration: underline;
}

*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px / 1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
i {
  font-style: italic;
}
.fa-print:before {
  content: "\f02f";
}

*, ::after, ::before {
  box-sizing: border-box;
}
.btn-download:after {
  background: #325cd5;
}
.btn-lg:after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: "";
  transform: perspective(200px) scaleX(0.1) rotateX(90deg) translateZ(-10px);
  transform-origin: bottom center;
  transition: transform 0.9s linear, transform 0.4s linear;
  z-index: -1;
}
*, ::after, ::before {
  box-sizing: border-box;
}
.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

*, ::after, ::before {
  box-sizing: border-box;
}